<div class="card border-secondary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Listado de clientes</h5>
      <div class="my-2 text-left">
        <button class="btn btn-primary" [routerLink]="['/clientes/form']">Crear</button>
      </div>
      <div *ngIf="clientes?.length==0" class="alert alert-info">
          No hay registros en la base de datos
      </div>
      <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Creado en</th>
                  <th>Modificar</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes">
                  <td>{{cliente.id}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.apellido}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{cliente.createAt}}</td> <!--<td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>-->
                  <td>
                      <button type="button" name="button" class="btn btn-primary" [routerLink]="['/clientes/form',cliente.id]">Modificar</button>
                  </td>
                  <td>
                    <button type="button" name="button" class="btn btn-danger" (click)="eliminar(cliente)">Eliminar</button>
                  </td>
                </tr>
          </tbody>
      </table>
      <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
  </div>